<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Film DB</title>
<style>
	body{
		 background: url(wallpaper.png) no-repeat center center fixed; 
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		 background-size: cover;
        }
</style>
</head>
<body>
	<div class="text-center">
	  <img src="logo.png" class="rounded" alt="logo_unisa" style="height: 200px; width: 200px;">
	</div>
<div class="container" style="width:100%;height:auto;display:flex;">
 <div style=" width:50%;height:100px;padding-left:14%">
		<label for="desc" style="padding-left: 14%; font-size: 20px; color: white">Ricerca Film</label>
		<form action="/film/search" method="GET" name="field_search">
		  <div class="form-group">
		    <label for="title" style="color: white">Titolo:</label>
			<input type="text" id="title" name="title"><br>
		  </div>
		  <div class="form-group">
		    <label for="genres" style="color: white">Genere:</label>
			<input type="text" id="genres" name="genres"><br>
		  </div>
		  <div  class="form-group">
		  	<label for="cast_component" style="color: white">Attore/Attrice:</label>
			<input type="text" id="cast_component" name="cast_component"><br>
		  </div>
		  <div  class="form-group">
		  	<label for="crew_component" style="color: white">Regista:</label>
			<input type="text" id="crew_component" name="crew_component"><br>
		  </div>
		  	<div style="padding-left: 20%">
		  	<button type="submit" class="btn btn-primary" onclick="VerificaCampiVuoti()">Search!</button>
		  </div>
		</form>
	</div>
	
<div style="width:50%;height:100px;padding-left:18%">
<label for="desc" style="font-size: 20px; color: white;">Statistiche Film</label>
	
	<form action="/film/stats" method="GET" name="statistiche_films">
		<div class="form-check">
		    <input id="genere_1" type="checkbox" name="genere_1" value = "Action">
		    <label for="genere_1" style="color:white;font-size:16px">Action</label>
		  </div>
		  <div class="form-check">
		    <input id="genere_2" type="checkbox" value="Adventure" name="genere_2" >
		    <label for="genere_2" style="color:white;font-size:16px">Adventure</label>
		  </div>
		  <div class="form-check">
		    <input id="genere_3" type="checkbox" value="Comedy" name="genere_3">
		    <label for="genere_3"style="color:white; font-size:16px">Comedy</label>
		  </div>
		  <div class="form-check">
		    <input id="genere_4" type="checkbox" value="Drama" name="genere_4" >
		    <label for="genere_4" style="color:white;font-size:16px">Drama</label>
		  </div>
		  <div class="form-check">
		    <input id="genere_5" type="checkbox" value="Horror" name="genere_5" >
		    <label for="genere_5" style="color:white;font-size:16px">Horror</label>
		  </div>
		  <div class="custom-select" style="width:200px;">
		  <select id="axis" name="axis">
		    <option value="0">Seleziona:</option>
		    <option value="vote_avg">Media Voto</option>
		    <option value="rev_avg">Media Incasso</option>
		  </select>
		  <div style="padding-left: 20%; padding-top:2%">
		  	<button type="submit" class="btn btn-primary" onclick="verify()">Search!</button>
		  </div>
		</div>
	</form>
</div>
</div>

<script>
	function VerificaCampiVuoti(){
		var title = document.field_search.title.value;
		var genre = document.field_search.genres.value;
		var actor = document.field_search.cast_component.value;
		var director = document.field_search.crew_component.value;
		
		if(title=="" && genre=="" && actor=="" && director==""){
			alert("Inserire almeno un valore nel campo di ricerca");
			document.field_search.title.focus();
			document.field_search.genres.focus();
			document.field_search.cast_component.focus();
			document.field_search.crew_component.focus();
			document.field_search.action="#";
		}else{
			document.field_search.action="/film/search";
		}
	}
	</script>
	
</body>
</html>