<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Film DB</title>
</head>
<body>

<form action="/film/search" method="GET">

	<label for="title">Titolo Film:</label>
	<input type="text" id="title" name="title"><br>
	
	<label for="genres">Genere:</label>
	<input type="text" id="genres" name="genres"><br>
	
	<label for="cast_component">Attore/Attrice:</label>
	<input type="text" id="cast_component" name="cast_component"><br>
	
	<label for="crew_component">Regista:</label>
	<input type="text" id="crew_component" name="crew_component"><br>
	
	<input type="submit" value="submit">
</form>


</body>
</html>