<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>FilmDB</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="padding-top: 2%; padding-left: 48%; padding-bottom:2%">
		<form action="/">
    		<button type="submit" class="btn btn-primary" >Home</button>
    	</form>
    </div>
	<table id='mytable' class="table table-hover">
	<thead>
	<tr>
		<th scope="col" style = "width: 100px">Title</th> 
		<th scope="col" style = "width: 300px">Overview</th>
		<th scope="col" style = "width: 100px">Genres</th> 
		<th scope="col" style = "width: 100px">Production Companies</th>
		<th scope="col" style = "width: 100px">Production Countries</th>
		<th scope="col" style = "width: 100px">Release Date</th>
		<th scope="col" style = "width: 100px">Rate</th>
	</tr>
	</thead>
	
	<script>

		let params = (new URL(document.location)).searchParams;
		var title = params.get('title'); 
		var genres = params.get('genres');
		var cast = params.get('cast_component');
		var crew = params.get('crew_component');

		var request_string = "http://localhost:8080/api/listFilm?";
		var c = 0
		
		if(title!=""){
			request_string = request_string + "title="+title;
			c = c + 1;
		}
		if(genres!=""){
			if(c>0){
				request_string = request_string + "&genres="+genres;	
			}else{
				c = c + 1;
				request_string = request_string + "genres="+genres;	
			}
		}
		if(cast!=""){
			if(c>0){
				request_string = request_string + "&cast_component="+cast;	
			}else{
				c = c + 1;
				request_string = request_string + "cast_component="+cast;	
			}
		}
		if(crew!=""){
			if(c>0){
				request_string = request_string + "&crew_component="+crew;	
			}else{
				c = c + 1;
				request_string = request_string + "crew_component="+crew;	
			}
		}
		var elenco = [];
		var elenco_genres = [];
		var elenco_comp = [];
		var elenco_count = [];
		$("#mytable").append("<tbody>");
		$.getJSON(request_string,
				function(data) {
					var iterator = data;
					for(var e in data){
						item={};
						item["Title"] = data[e].title;
						var obj = data[e].genres;
						for(var o in obj){
							elenco_genres.push(obj[o].name);
						}
						
						var obj_comp = data[e].production_companies;
						for(var o in obj_comp){
							elenco_comp.push(obj_comp[o].name);
						}
						
						var obj_count = data[e].production_countries;
						for(var o in obj_count){
							elenco_count.push(obj_count[o].name);
						}
						
						item["Genres"] = elenco_genres;
						item["Votes_Avg"] = data[e].vote_average;
						item["Release_Date"] = data[e].release_date;
						item["Overview"] = data[e].overview;
						item["Companyies"] = elenco_comp;
						item["Countries"] = elenco_count;
						elenco_genres = [];
						elenco_comp = [];
						elenco_count = [];
						elenco.push(item);					
					}
					for(var i=0;i<elenco.length;i++)
				    {
				         var tr  ="<tr>"+
				                "<td style = 'width: 100px'>"+elenco[i]["Title"]+"</td>"+
				                "<td style = 'width: 300px'>"+elenco[i]["Overview"]+"</td>"+
				                "<td style = 'width: 100px'>"+elenco[i]["Genres"]+"</td>"+
				                "<td style = 'width: 100px'>"+elenco[i]["Companyies"]+"</td>"+
				                "<td style = 'width: 100px'>"+elenco[i]["Countries"]+"</td>"+
				                "<td style = 'width: 100px'>"+elenco[i]["Release_Date"]+"</td>"+
				                "<td style = 'width: 100px'>"+elenco[i]["Votes_Avg"]+"</td></tr>";
				       $("#mytable").append(tr);
				    }
					if(data == undefined){
						alert("La ricerca non ha prodotto risultati");
						location.replace("http://localhost:8080/");
					}
				    
			});
		$("#mytable").append("</tbody>");
		
		
	</script>

</table>
</body>
</html>